{% extends "base.html" %}
{% block title %}Product{% endblock %}
{% block content %}

      <div style=" margin: auto;
  width: 50%;
  border: 3px solid CadetBlue;
  padding: 10px;">

          <div><h3 style="font-family:verdana;"> <i>DELETE ORDERS </i></h3></div>
<div><h3></h3></div>
<div>
<form  id="Login" action="{{ url_for('order.deleteOrderEnd') }}" method="POST">

<table align="center" cellpadding = "10">


<!----- PRODUCT NAME ---------------------------------------------------------->
    <tr>
        <td>Product Name</td>
        <td><input type="text" name="productname" maxlength="30" />
        (max 30 characters a-z and A-Z)
        </td>
    </tr>
    <!----- PRICE-------------------------------------------------------->
    <tr>
        <td>Product Price</td>
        <td><input type="number" name="price"/>(Decimal Number)</td>
    </tr>
     <tr>
         <td> <button type="submit" class="btn" onclick="order.deleteOrderEnd">Delete Product</button></td>
     </tr>

</table>

</form>
</div>
      </div>
{% endblock %}